body {
  max-width: 70%;
  margin: 5 5 5 5;
  padding: 5 5 5 5;
  line-height: 1em;
  background: white;

}

p {
  font-family: 'Monaco';
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 100;
  color: black;
}

div.signature

{
  text-align: right;
}

div.download

{
  text-align: center;
}

h1 {
  font-family: 'Verdana';
  font-size: 2em;
  font-weight: 900;
  line-height: 2em;
  color: black;
}

a:link {
  font-family: 'Verdana';
  color: #4e80d8;
  text-decoration: none;
  font-weight: 500;
}

a:visited {
  color: #4e80d8;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: #4e80d8;
  text-decoration: underline;
  font-weight: 500;
}

a:active {
  color: #4e80d8;
  text-decoration: none;
  font-weight: 500;
}

img {
  width: 99%;
}

img.top {
  width: 50px;
  bottom: -3px;
}

img.top:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
